body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Spartan", sans-serif;
  padding-left: 10px;
  text-align: center;
}

p,
ul,
li {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.head {
  display: inline-grid;
  width: 100%;
  height: 100vh;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url(img/black-pen-near-iphone-and-apple-magic-keyboard-934062.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: 800;
}

.project {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis";
  align-items: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 820px) {
  .project {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "uno uno"
      "dos tres"
      "cuatro cinco"
      "seis seis";
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.port-img {
  width: 100%;
  height: auto;
}

.skills {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  display: inline-grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2b2b2b;
  color: aliceblue;
}

.recommend {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  display: -moz-inline-grid;
  background-color: #2b2b2b;
  width: 100%;
  height: 20vh;
  color: aliceblue;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(165, 165, 37);
  text-transform: lowercase;
}

a:hover {
  text-decoration: line-through;
  color: wheat;
  text-transform: uppercase;
}

.arrow-img {
  width: 2.2rem;
  height: auto;
}

.img-reco {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  border: 1px #2b2b2b solid;
}

.white-space {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img1 {
  border-radius: 50%;
}

.text {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
}

.text:hover {
  background-color: #2b2b2b;
  font-size: 1.2rem;
  transition: 1s ease-in-out;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}
